In [1]:
import numpy as np
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
import urllib.request
from PIL import Image
from pydataset import data
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import chi2
from acquire import *
from prepare import *
from explore import *
from wrangle import *
import env

In [2]:
# Read csv file into pandas DataFrame.
file = "https://gist.githubusercontent.com/ryanorsinger/14c8f919920e111f53c6d2c3a3af7e70/raw/07f6e8004fa171638d6d599cfbf0513f6f60b9e8/student_grades.csv"
df = pd.read_csv(file)

print(df.info())

df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   student_id   104 non-null    int64
 1   exam1        103 non-null    float64
 2   exam2        104 non-null    int64
 3   exam3        104 non-null    object
 4   final_grade  104 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 4.2+ KB
None

   student_id  exam1  exam2 exam3  final_grade
0           1  100.0     90    95           96
1           2   98.0     93    96           95
2           3   85.0     83    87           87

In [3]:
df = wrangle_zillow()

print(df.info())

df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   bedroomcnt   float64
 1   bathroomcnt  float64
 2   cal_fin_sqf  float64
 3   tax_val      float64
 4   yearbuilt    float64
 5   taxamount    float64
 6   fips         float64
dtypes: float64(7)
memory usage: 115.0 MB
None

   bedroomcnt  bathroomcnt  cal_fin_sqf  tax_val  yearbuilt  taxamount    fips
0         0.0          0.0          NaN  27516.0        NaN        NaN  6037.0
1         0.0          0.0          NaN     10.0        NaN        NaN  6037.0
2         0.0          0.0          NaN     10.0        NaN        NaN  6037.0